@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .header {
    @apply 
            
    h-[10%]
    
           


  }
  .h-uno {
    @apply
    bg-black /* Fondo oscuro */
    p-2
    flex
}

.h-dos {
    @apply
    bg-slate-800 /* Azul profundo */
    p-2
    flex
    h-[50%]
}
.h-uno:hover, .h-dos:hover {
  transition: background-color 1s ease;
}


/* Estilo para el input */
.h-input {
  @apply rounded-md
          h-8
          w-[20rem]
          border-2
          border-black
          border-solid
          pl-4
          p-[0.3rem]
          mt-2
          ml-[30rem]
          mr-[0.1rem]
          bg-slate-200
          font-serif
          font-bold
          transition-all duration-300 ease-in-out
          transform scale-100;

  &:hover {
    @apply bg-white
            shadow-md
            transform scale-105; /* Ligeramente más grande al pasar el mouse */
  }

  &:focus {
    @apply outline-none
            border-blue-500
            ring-2
            ring-blue-300
            transform scale-105; /* Ligeramente más grande al enfocarse */
  }
}

/* Estilo para el botón */
.h-button {
  @apply bg-orange-400
          cursor-pointer
          mt-2
          p-1
          w-8
          h-8
          rounded-md
          border-2
          border-orange-700
          border-solid
          mr-[280px]
          transition-all duration-300 ease-in-out
          transform scale-100;

  &:hover {
    @apply bg-orange-500
            shadow-lg
            transform scale-110; /* Un poco más grande y con más sombra al pasar el mouse */
  }

  &:active {
    @apply bg-orange-700
            transform scale-95; /* Ligeramente más pequeño al hacer clic */
  }


}

@keyframes underline {
  0% {
      width: 0;
      border-radius: 50%; /* Bola al principio */
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.5); /* Sombras */
  }
  50% {
      border-radius: 0; /* Cambiamos de bola a línea */
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.5); /* Sombras */
  }
  100% {
      width: 100%;
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Más sombra */
  }
}

.h-button2 {
  @apply h-10 relative px-6 py-3 bg-transparent border-t-0 border-r-0 border-b-0 border-l-0 shadow-none;
  overflow: hidden;
}

.h-button2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-image: linear-gradient(90deg, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1)); /* Degradado */
  transform-origin: left;
}

.h-button2:hover::after {
  animation: underline 0.5s ease-in-out forwards;
}

.h-button2:active::after {
  width: 100%;
  animation: none; /* Detenemos la animación cuando el botón está activo */
  border-radius: 0; /* Aseguramos que la línea no tenga bordes redondeados */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Añadimos sombra */
}



.h-span{
    @apply
    text-white text-lg font-serif tracking-wider
    text-[0.9rem]
    pb-[10rem]
}





  .logo{
    @apply
    w-[5rem] h-[3rem]
    shadow-md shadow-yellow-500
    rounded-full
  }

  .card{
    @apply
    
    bg-gray-100
    rounded-lg
    h-[23rem] w-[21rem]
    grid
     
    
    
    place-content-center
    
  }
  .container1{
    @apply
   
    m-11
    pb-11
    inset-0
    absolute grid grid-cols-3 gap-4
    
    place-items-center
   
    
  }
  .footer{
    @apply
    bg-black
    gap-x-11
    h-[30rem]

  }
  @layer components {
    .f-text {
      @apply text-white font-extrabold font-sans hover:underline object-contain
    }
  
    .f-text:hover {
      text-shadow: 2px 2px 4px #fde047; /* color amarillo */
    }
  
    .f-text2 {
      @apply text-white text-center font-extrabold font-sans hover:underline
    }
  
    .f-text2:hover {
      text-shadow: 2px 2px 4px #fde047; /* color amarillo */
    }

    .sc-botton::before {
      @apply absolute inset-0 bg-red-500 rounded-md scale-0 transition-all duration-300 ease-linear;
    }
    
    .sc-botton:hover::before {
      @apply scale-110;
    }
    /* esto es para animar un poco el fondo */
    @keyframes gradientX {
      0%, 100% {
        background-size: 200% 200%;
        background-position: left center;
      }
      50% {
        background-size: 200% 200%;
        background-position: right center;
      }
    }
    
    .animate-gradient-x {
      animation: gradientX 8s ease infinite;
      background-size: 200% 200%;
    }

    @keyframes unfold {
      from {
        transform: scaleY(0);
      }
      to {
        transform: scaleY(1);
      }
    }
    
    @keyframes fold {
      from {
        transform: scaleY(1);
      }
      to {
        transform: scaleY(0);
      }
    }
    
    .animate-unfold {
      animation: unfold 0.5s ease forwards;
    }
    
    .animate-fold {
      animation: fold 0.5s ease forwards;
    }
    

    
    
    
    
  }
  
  
}
